extends base
include _reviewCard

//- This is not changing the head in the base file but it is just appending in the head of base file
block append head
  script(src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet')

  //- make sure to use defer, so this will be loaded after html, because we access some of the html properties in the js file
  //- script(src='/js/mapbox.js' defer)

mixin overviewBox(label, text, icon)
  .overview-box__detail
    svg.overview-box__icon
      use(xlink:href=`/img/icons.svg#icon-${icon}`)
    span.overview-box__label= label
    span.overview-box__text= text

block content
  // Hero Section - Modern and Engaging
  section.tour-hero
    .tour-hero__background
      img.tour-hero__image(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)
      .tour-hero__overlay
    .tour-hero__content
      .container
        .tour-hero__info
          h1.tour-hero__title= tour.name
          p.tour-hero__subtitle= tour.summary
          .tour-hero__stats
            .tour-hero__stat
              svg.tour-hero__icon
                use(xlink:href='/img/icons.svg#icon-clock')
              span= `${tour.duration} days`
            .tour-hero__stat
              svg.tour-hero__icon
                use(xlink:href='/img/icons.svg#icon-map-pin')
              span= tour.startLocation.description
            .tour-hero__stat
              svg.tour-hero__icon
                use(xlink:href='/img/icons.svg#icon-star')
              span= `${tour.ratingsAverage} / 5`

  // Quick Facts Section - Enhanced Layout
  section.tour-facts
    .container
      .tour-facts__grid
        .tour-facts__card
          h3.tour-facts__title Quick Facts
          .tour-facts__list
            - const date = tour.startDates[0].toLocaleString('en-us', {month: 'long', year: 'numeric'})
            +overviewBox('Next date', date, 'calendar')
            +overviewBox('Difficulty', tour.difficulty, 'trending-up')
            +overviewBox('Participants', `${tour.maxGroupSize} people`, 'user')
            +overviewBox('Rating', `${tour.ratingsAverage} / 5`, 'star')
        
        .tour-facts__card
          h3.tour-facts__title Your Tour Guides
          .tour-facts__guides
            each guide in tour.guides
              .tour-facts__guide
                img.tour-facts__guide-img(src=`/img/users/${guide.photo}`, alt=`${guide.name}`)
                .tour-facts__guide-info
                  - if (guide.role === 'lead-guide')
                    span.tour-facts__guide-role Lead guide
                  - if (guide.role === 'guide')
                    span.tour-facts__guide-role Tour guide
                  span.tour-facts__guide-name= guide.name

  // Description Section - Enhanced Typography
  section.tour-description
    .container
      .tour-description__content
        h2.tour-description__title= `About ${tour.name} tour`
        .tour-description__text
          - const parapraphs = tour.description.split('\n');
          each p in parapraphs
            p= p

  // Gallery Section - Modern Grid Layout
  section.tour-gallery
    .container
      h2.tour-gallery__title Tour Gallery
      .tour-gallery__grid
        each img, i in tour.images
          .tour-gallery__item
            img.tour-gallery__image(src=`/img/tours/${img}`, alt=`${tour.name} ${i + 1}`)

  // Map Section - Enhanced Container
  section.tour-map
    .container
      h2.tour-map__title Tour Locations
      .tour-map__container
        #map(data-locations=`${JSON.stringify(tour.locations)}`)

  // Reviews Section - Modern Card Layout
  section.tour-reviews
    .container
      h2.tour-reviews__title What Our Travelers Say
      .tour-reviews__grid
        each review in tour.reviews
          +reviewCard(review)

  // Booking CTA Section - Enhanced Design
  section.tour-booking
    .container
      .tour-booking__content
        .tour-booking__info
          h2.tour-booking__title What are you waiting for?
          p.tour-booking__text= `${tour.duration} days. 1 adventure. Infinite memories. Make it yours today!`
          .tour-booking__price
            span.tour-booking__amount= `$${tour.price}`
            span.tour-booking__per-person per person
        .tour-booking__action
          if user
            button.btn.btn--green.tour-booking__btn#book-tour(data-tour-id=`${tour.id}`) Book tour now!
          else
            a.btn.btn--green.tour-booking__btn(href='/login') Log in to book tour
